.field
    .control.field
        input.is-checkradio.is-block.is-boolean(type="checkbox", id=criterium.label, name=criterium.label)
        label.is-marginless.is-block.label(for=criterium.label tabindex=0)= criterium.name
        .help !{criterium.desc}